/*
  Version: 05.05.22
*/

body{
    color: #99AABF;
    background-color: #031626;
}

footer{
    height: 150px;
}

header, footer{
    background-color: #0D0D0D;
}

#page-title{
    background-image: url("../img/index-title-background.jpg");
    /* source: https://www.pexels.com/fr-fr/photo/groupe-d-etoiles-1341279/ */
    background-size: auto;
}


.nav-link{
    color: #99AABF;
}


.fs-4::after {
    content: "";
    display: block;
    margin-left: 45%;
    margin-top: 3px;
    width: 10%;
    height: 2px;
    background: #2E2259;
}

#contact{
    list-style-type: none;
}

.fa-brands{
    color: #232CD9;
}
