/*
  Version: 05.05.22
*/

body{
    color: #A7F2B2;
    background-color: #000000;
}

footer{
    height: 150px;
}

header, footer{
    background-color: #0D0D0D;
}

#logo {
    width: 40px;
}

#page-title{
    background-image: url("../assets/index-title-background.jpg");
    /* source: https://www.pexels.com/fr-fr/photo/ciel-etoile-998641/ */
    background-size: cover;
}


.nav-link{
    color: #99AABF;
}


.fs-4::after {
    content: "";
    display: block;
    width: 2%;
    margin-left: 49%;
    margin-top: 3px;
    height: 2px;
    background: #5D3CA6;
}

#contact{
    list-style-type: none;
}

.fa-brands{
    color: #232CD9;
}

.user-input, .user-input:focus {
    background-color: #0D0D0D;
    color: #99AABF;
}
