{#
  Version: 05.05.22
#}

{% extends 'main-template.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center ms-auto mt-5 pb-5">
                <div class="fs-4">Objectifs du site</div>
            </div>

            <div class="col-md-4"></div>

            <div class="col-md-12 mt-3">
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis corrupti inventore
                    cumque repellendus minima esse dolorum explicabo hic dolores, perferendis eligendi possimus ea vitae
                    voluptatem ducimus ullam aliquid pariatur. Atque quam et dolor ipsa animi perferendis fuga quos in,
                    minima quo asperiores ad exercitationem nihil deleniti. Vel earum dolores consequuntur!
                </div>
            </div>

            <div class="col-md-4 text-center ms-auto mt-5">
                <div class="fs-4">Catalogue Messier</div>
            </div>

            <div class="col-md-4"></div>

            <div class="col-md-12 mt-3">
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis corrupti inventore
                    cumque repellendus minima esse dolorum explicabo hic dolores, perferendis eligendi possimus ea vitae
                    voluptatem ducimus ullam aliquid pariatur. Atque quam et dolor ipsa animi perferendis fuga quos in,
                    minima quo asperiores ad exercitationem nihil deleniti. Vel earum dolores consequuntur!
                </div>
                <div class="mt-4">
                    Accéder au
                    <a class="text-decoration-none" href="{{ url_for('catalog') }}">catalogue</a>
                </div>
            </div>

            <div class="col-md-4 text-center ms-auto mt-5">
                <div class="fs-4">Sorties nocturnes</div>
            </div>

            <div class="col-md-4"></div>

            <div class="col-md-12 mt-3">
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis corrupti inventore
                    cumque repellendus minima esse dolorum explicabo hic dolores, perferendis eligendi possimus ea vitae
                    voluptatem ducimus ullam aliquid pariatur. Atque quam et dolor ipsa animi perferendis fuga quos in,
                    minima quo asperiores ad exercitationem nihil deleniti. Vel earum dolores consequuntur!
                </div>
                <div class="mt-4">
                    Accéder aux
                    <a class="text-decoration-none" href="{{ url_for('outings') }}">sorties</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}