{#
  Version: 05.05.22
#}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/90ed8db92f.js" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
<!-- header -->
<header class="row ms-auto me-auto">
    <div class="col-lg-4 d-flex">
        <img id="logo" src="{{ url_for('static', filename='assets/website-logo.jpg') }}" alt="logo">
        <div class="fs-3">Astronomie</div>
    </div>
    <div class="col-lg-4">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 te">
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="{{ url_for('index') }}">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="{{ url_for('catalog') }}">Catalogue Messier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="{{ url_for('outings') }}">Sorties</a>
                    </li>
                    {% if user %}
                        <li class="nav-item">
                            <a class="nav-link fs-5" href="{{ url_for('edit_outings') }}">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-lg-4 d-flex justify-content-end mt-auto mb-auto">
        {% if user %}
            <a class="text-uppercase text-decoration-none" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a class="text-uppercase text-decoration-none" href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
</header>

<!-- page name -->
<div class="row pt-5 pb-5" id="page-title">
    <div class="col-md-12 fs-1 text-center fst-italic">{{ self.title() }}</div>
</div>


<!-- breadcrumb menu -->
<div class="row d-flex border-bottom border-2 ms-auto pt-2" id="breadcrumb-div">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% block breadcrumb_items %} {% endblock %}
        </ol>
    </nav>
</div>

<!-- content -->
<div class="container" id="content">
    {% block content %}
    {% endblock content %}
</div>

<!-- footer-->
<footer class="row mt-5 pt-3 ms-auto me-auto border-top border-2 justify-content-center">
    <div class="col-md-6">
        <div class="fs-5">Contact</div>
        <div id="contact" class="p-0 mt-3">
            Email: contact@info.com
        </div>
    </div>
    <div class="col-md-6">
        <div class="fs-5">Nous suivre</div>
        <div class="mt-3">
            <a href="#" class="me-4">
                <i class="fa-brands fa-facebook-f fa-2xl"></i>
            </a>
            <a href="#" class="me-4">
                <i class="fa-brands fa-twitter fa-2xl"></i>
            </a>
            <a href="#" class="me-4">
                <i class="fa-brands fa-instagram fa-2xl"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-pinterest-p fa-2xl"></i>
            </a>
        </div>
    </div>
    <div class="col-md-12 text-center">
        © Copyright 2022
    </div>
</footer>
</body>
</html>